version: '3.8'

services:  

  db:
    image: mysql:8.0
    restart: always
    container_name: db
    env_file: ./backend/.env
    ports:
      - "3307:3306"
    environment:
      MYSQL_ROOT_PASSWORD: admin
      MYSQL_DATABASE: e-todo
      MYSQL_USER: kaets0ner
      MYSQL_PASSWORD: admin
    volumes:
      - ./e-todo.sql:/docker-entrypoint-initdb.d/e-todo.sql
    networks:
      - back

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin-container
    ports:
      - "8081:80"
    environment:
      PMA_HOST: db
      MYSQL_ROOT_PASSWORD: admin
    depends_on:
      - db
    networks:
      - back

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile.dev
    ports: 
      - "8080:8080"
    depends_on:
      - db
    env_file: ./backend/.env
    volumes:
      - ./backend:/app
    networks:
      - back

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev
    ports:
      - "3000:3000"
    depends_on:
      - backend
    env_file: ./frontend/.env
    volumes:
      - ./frontend:/app
      - /app/node_modules
    networks:
      - front

networks:
  back:
  front:

volumes:
  mysql_data:

 