
.Header{
    text-align: right;
    background-color: #637185ff;
}
.Logo{
  background-color: #f7f9fc;
  text-align: left;

}

.welcome-logo {
  width: 4rem;
  height: 4rem;
  margin-right: 6rem;
}

.welcome-divider {
  width: 95%;
  border:none;
  border-top: 1px solid #ddd;
  margin: 0,5rem 0;
  margin-bottom :0.3rem;
}



.welcome_1div {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f7f9fc;
  padding: 2rem;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}



.welcome-title {
  color: #757575;
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 1rem;
}


.welcome-text {
  text-align: left;
  font-size: 1rem;
  color: #333;
  line-height: 1.5;
  margin-bottom: 1.5rem;
}
.welcome-subtext {
  margin-top : 25rem;
  margin-bottom :0rem;
  text-align: center;
  font-size: 0.95rem;
  color: #444;
  margin-bottom: 2rem;
}

.commencer_button {
  margin-top :1rem;
  background-color: #1565C0;
  color: white;
  font-size: 1.1rem;
  padding: 0.9rem 3rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  transition: 0.2s;
}


.commencer_button:hover {
  background-color: #0d47a1;
}
.styleFooter{
    display : flex;
    flex-direction : column;
    align-items : center;
    margin : 0.2rem;
    margin-top : 0.3rem;
    margin-bottom : 0rem;
    background-color : #f7f9fc;
}

